<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae
        pariatur quod consequatur blanditiis. Doloremque reiciendis perferendis
        totam itaque temporibus saepe quisquam. Maxime optio ipsa cumque
        laboriosam eveniet doloremque exercitationem iure. Architecto fugit amet
        perferendis saepe debitis repellat labore. In enim est tempora dolores
        iusto. Error accusantium magni consectetur? Sunt?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae
        pariatur quod consequatur blanditiis. Doloremque reiciendis perferendis
        totam itaque temporibus saepe quisquam. Maxime optio ipsa cumque
        laboriosam eveniet doloremque exercitationem iure. Architecto fugit amet
        perferendis saepe debitis repellat labore. In enim est tempora dolores
        iusto. Error accusantium magni consectetur? Sunt?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae
        pariatur quod consequatur blanditiis. Doloremque reiciendis perferendis
        totam itaque temporibus saepe quisquam. Maxime optio ipsa cumque
        laboriosam eveniet doloremque exercitationem iure. Architecto fugit amet
        perferendis saepe debitis repellat labore. In enim est tempora dolores
        iusto. Error accusantium magni consectetur? Sunt?
      </p>
    </div>
  </body>
</html>
